body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
}

/* NAVIGATION BAR ******************************/

.nav-bar {
	position: fixed;
    z-index: 10;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.08);
}

.nav-bar-item {
	display: inline-block;
	color: gray;
	text-transform: uppercase;
	margin: 3% 30px 0px 0px;
	float: right;
	font-size: 0.9em;
}

.nav-bar-item:hover {
	color: black;
	cursor: pointer;
}

.selected {
	color: black;
}

.logo{
	display: inline-block;
	margin: 0px 0px 0px 10px;
	cursor: pointer;
	text-transform: uppercase;
	width: 3.5em;
	font-size: 2.8em;
	color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
     
    background: #a3231a; /* Old browsers */
	background: -moz-linear-gradient(left,  #a3231a 0%, #bf631c 20%, #bfbf1c 38%, #60a00c 61%, #1e5799 82%, #641aa5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a3231a), color-stop(20%,#bf631c), color-stop(38%,#bfbf1c), color-stop(61%,#60a00c), color-stop(82%,#1e5799), color-stop(100%,#641aa5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #a3231a 0%,#bf631c 20%,#bfbf1c 38%,#60a00c 61%,#1e5799 82%,#641aa5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #a3231a 0%,#bf631c 20%,#bfbf1c 38%,#60a00c 61%,#1e5799 82%,#641aa5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #a3231a 0%,#bf631c 20%,#bfbf1c 38%,#60a00c 61%,#1e5799 82%,#641aa5 100%); /* IE10+ */
	background: linear-gradient(to right,  #a3231a 0%,#bf631c 20%,#bfbf1c 38%,#60a00c 61%,#1e5799 82%,#641aa5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3231a', endColorstr='#641aa5',GradientType=1 ); /* IE6-9 */




      
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
     
}

@-moz-document url-prefix() {
	.logo {
		display: inline-block;
		margin: 0px;
		cursor: pointer;
		text-transform: uppercase;
		content: '';
		text-shadow: none;
		width: 3.4em;
	    background-image: url('logo-screenshot.png');
	}

	html>/**/body .cover-photo {
		margin-bottom: -6px;
	}

}




/* CONTENT BELOW NAV BAR ******************************/

.cover-photo {
	width: 100%;
	margin-bottom: -5px;
	position: relative;
}

.cover-photo-container { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.cover-photo-text { 
	position: absolute; 
	top: 50%; 
	width: 100%;
	text-align: center;
	font-weight: 800;
	font-size: 1.3em;
	opacity: 0;
	-webkit-transition: opacity 4s; /* For Safari 3.1 to 6.0 */
	transition: opacity 4s;

}

.show-cover-photo-text {
	opacity: 1;
}

.section {
	background: #F8F8F8;
}

.content {
	color: black;
	position: absolute;
	width: 100%;
}

/* SECTIONS ******************************/

.section * {
	margin: 0px;
}

.section-content {
	margin: 0px auto;
	width: 80%;
	border-bottom: 1px rgb(214, 214, 214) solid;
}

.section-content h2 {
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #B4B4B4;
	font-size: 1.2em;
	text-align: center;
}

.section-content a {
	color: #f5404d;
	padding: 0px
	margin-left: 6px;
	text-decoration: none;
}

.section-content a:hover {
	color: #cb333e;
}

.section-content * {
	text-align: justify;
	padding-top: 30px;
	padding-bottom: 50px;
}

.section-content .large-paragraph {
	font-size: 1.7em;
	text-align: center;
	padding-bottom: 30px;
}

.section-content .contact-logo-container {
	padding-top: 0px;
	text-align: center;
}

.section-content .headshot {
	text-align: center;
	padding: 0px;
}

.section-content .headshot * {
	padding: 0px
}

.intro-section p {
	padding: 50px 0px;
}

.resume-section {
	text-align: left;
	font-size: 0.8em
}

.resume-section .header {
	padding: 0px;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px dotted white;
}

.file-download {
	padding: 0px
}

.file-download * {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	padding: 0px;
}

.file-download a {
	margin-left: -6px;
	color: #f5404d;
}

.file-download a:before {
	content: "\2B07";
	margin-right: 5px;
	font-size: 2.3em;
	vertical-align: middle;
}

.file-download a:hover {
	color: #cb333e;
}

#resume-download-form {
	padding-top: 0px;
}

.contact-section img {
	padding: 0px 0px 0px 10px;
}

.contact-logo {
	text-decoration: none;
}

/* ART THUMBNAILS ******************************/

.art-thumbnails {
	padding-top: 0px;
}

.art-thumbnail-row {
	padding-bottom: 0px
}

.art-thumbnail-container {
    display: inline-block;
    position: relative;
    width: 45%;
    padding: 0px;
    margin: 0px 2%;
}
.art-thumbnail-dummy {
    margin-top: 100%;
    padding: 0px;
}
.art-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    width: 100%;
	height: 100%;
}

.art-thumbnail-overlay {
	z-index: 1;
	background: white;
	opacity: 0;
	-webkit-transition: opacity 1s;  /* For Safari 3.1 to 6.0 */
	transition: opacity 1s;
}

.art-thumbnail-overlay p {
	text-align: center;
	padding: 45% 0px 0px 0px;
	-webkit-transition: padding 1s;  /* For Safari 3.1 to 6.0 */
	transition: padding 1s;
}

.art-thumbnail-overlay:hover {
	opacity: 0.5;
}

.art-thumbnail-overlay:hover p{
	padding: 25% 0px 0px 0px;
}

/* VEX ******************************/

.vex-overlay {
	height: 2000px;
	width: 100%;
}

.vex-content {
	width: 700px
}

.vex-content-image-container {
	max-width: 600px; 
	margin-top: 35px; 
	text-align: center;
}

.vex-content-image-container img {
	max-width:100%
}

