body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
}

/* NAVIGATION BAR ******************************/

.nav-bar {
    background: white;
    border: none;
    padding: 10px;
}

.nav-bar-item {
	text-transform: uppercase;
	font-size: 0.9em;
}

.nav-bar-item > a:hover {
	color: black !important;
	cursor: pointer;
}

.selected {
	color: black;
}

.logo * {
	display: inline;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 2.8em;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    font-weight: bold;
}

.logo {
	color: #07B4D3;

	-webkit-transition: color 0.75s;  /* For Safari 3.1 to 6.0 */
	transition: color 0.75s;
}

.logo:hover {
	color: #098399;
	text-decoration: none;
}

.logo-icon{
	font-size: 2em;
	font-weight: 100;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #DFDFDF;
}

.navbar-inverse .navbar-toggle {
	padding: 11px 10px;
	background-color: #F3F3F3;
	border-color: #D0D0D0;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #6E6E6E;
}

/* CONTENT BELOW NAV BAR ******************************/

.cover-photo {
	width: 100%;
}

.cover-photo-container { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.cover-photo-text {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: 45%;
	color: white;
	text-align: center;
	font-weight: 100;
	opacity: 0;
    
    -moz-transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    -o-transition: opacity 2.5s;
   	transition: opacity 2.5s;
}

.cover-photo-text.loaded {
	opacity: 1;
}

.darken-filter {
	z-index: 0;
	background: black;
	opacity: 0.55;
	position: absolute;
	width: 100%;
	height: 100%;
}

.section {
	background: #F3F3F3;
}

main {
	color: black;
	position: absolute;
	width: 100%;
	top: 70px;
}

/* SECTIONS ******************************/

.section * {
	margin: 0px;
}

.section-content {
	margin: 0px auto;
	width: 75%;
	border-bottom: 1px rgb(214, 214, 214) solid;
}

.section-content h3 {
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 5px;
	color: #B4B4B4;
	font-size: 1.2em;
	text-align: center;
}

.section-content a {
	color: #f5404d;
	padding: 0px;
	text-decoration: none;
	cursor: pointer;
}

.section-content a:hover {
	color: #cb333e;
}

.section-content * {
	text-align: justify;
	padding-top: 30px;
	padding-bottom: 50px;
}

.section-content .large-paragraph {
	font-size: 2em;
	text-align: center;
	padding-bottom: 30px;
}

.section-content .contact-logo-container {
	padding-top: 0px;
	text-align: center;
}

.section-content .headshot {
	text-align: center;
	padding: 0px;
}

.section-content .headshot * {
	padding: 0px
}

.intro-section p {
	padding: 50px 0px;
}

.email-link {
	font-weight: bold;
}

a.contact-logo {
	margin: 0px 25px;
	padding: 0px;
	font-size: 55px !important;
	color: #C0C0C0;
}

#linkedin-logo:hover {
	color: #007bb6;
}

#github-logo {
	font-size: 57px !important;
}

#github-logo:hover {
	color: #353535;
}

#twitter-logo:hover {
	color: #55acee;
}

/* ART THUMBNAILS ******************************/

.row {
	padding: 0px;
	max-width: 970px;
	margin: 0px auto;
}

.row > * {
	padding: 15px;
}

/* VEX ******************************/

.vex-overlay {
	height: 2000px;
	width: 100%;
}

.vex-content {
	width: 75% !important;
}

.vex-content-image-container {
	margin-top: 25px; 
	text-align: center;
}

.vex-content-image-container img {
	max-width:100%
}
