body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    background: #F3F3F3;
}

/* NAVIGATION BAR ******************************/

.nav-icon-container {
	text-align: center;
	padding: 10px;
	font-size: 30px;
	color: #9d9d9d;
	margin-top: 0px;

	-moz-transition: margin-top 1s;
    -webkit-transition: margin-top 1s;
    -o-transition: margin-top 1s;
   	transition: margin-top 1s;
}

.nav-icon-container.show-nav-bar {
	margin-top: 70px;
}

.nav-icon-container .fa-bars {
	cursor: pointer;
}

.nav-bar {
	text-align: center;
	top: -70px;

	-webkit-transition: top 1s;  /* For Safari 3.1 to 6.0 */
	transition: top 1s;
}

.nav-bar.show-nav-bar {
	top:0px;
}

.nav-bar {
    background: white;
    border: none;
    padding: 10px;
}

.nav-bar-item {
	text-transform: uppercase;
	font-size: 0.9em;
}

.nav-bar-item, .nav-bar-item a {
	display: inline !important;
}


.nav-bar-item > a:hover {
	color: black !important;
	cursor: pointer;
}

.navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar-nav>li>a:focus {
	color: #9d9d9d !important;
}

.selected {
	color: black;
}

/* Homepage logo and text */

.logo * {
	display: inline;
	text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    font-weight: bold;
}

.logo {
	color: #07B4D3;
	text-align: center;
	top: 45%;
	position: absolute;
	width: 100%;
}


.logo-icon {
	font-size: 2em;
	font-weight: 100;
}

.left-chevron {
	margin-right: -15px;

	-moz-transition: margin-right 0.5s;
    -webkit-transition: margin-right 0.5s;
    -o-transition: margin-right 0.5s;
   	transition: margin-right 0.5s;
}

.right-chevron {
	margin-left: -15px;

	-moz-transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
   	transition: margin-left 0.5s;
}

.slash {
	opacity: 0;

	-moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
   	transition: opacity 0.5s;	
}

.left-chevron.loaded {
	margin-right: -5px;
}

.right-chevron.loaded {
	margin-left: -5px;
}

.slash.loaded {
	opacity: 1;
}

.logo-text {
	font-size: 2.8em;
}

.logo-subtext {
	color: #CBCBCB;
	display: block;
	margin-top: 0px;
	padding: 0px 15px;
}

.logo-subtext * {
	text-transform: lowercase;
}

.first-subtext, .second-subtext, .third-subtext{
	opacity: 0;
}

.first-subtext {
	-moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
   	transition: opacity 1.5s;
}

.second-subtext {
	-moz-transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    -o-transition: opacity 2.5s;
   	transition: opacity 2.5s;
}

.third-subtext {
	-moz-transition: opacity 3.5s;
    -webkit-transition: opacity 3.5s;
    -o-transition: opacity 3.5s;
   	transition: opacity 3.5s;
}

.first-subtext.loaded, .second-subtext.loaded, .third-subtext.loaded {
	opacity: 1;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #DFDFDF;
}

.navbar-inverse .navbar-toggle {
	padding: 11px 10px;
	background-color: #F3F3F3;
	border-color: #D0D0D0;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #6E6E6E;
}

.scroll-to-top {
	font-size: 40px;
	color: #9d9d9d;
	position: fixed;
	right: 0;
	margin: 10px;
	cursor: pointer;
	z-index: 3;
	opacity: 0;

	-moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
   	transition: opacity 1s;
}

.scroll-to-top.show-scroll-to-top {
	opacity: 1;
}

/* CONTENT BELOW NAV BAR ******************************/

.cover-photo {
	width: 100%;
	background-image: url(cover3-2.jpg);
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-size: cover;
}

.cover-photo-container { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.cover-photo-text {
	z-index: 2;
	position: fixed;
	width: 100%;
	top: 45%;
	color: white;
	text-align: center;
	font-weight: 100;
	opacity: 0;
	text-shadow: 3px 2px 6px rgba(0,0,0,0.5);
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	padding: 0px 20px;
    
    -moz-transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    -o-transition: opacity 2.5s;
   	transition: opacity 2.5s;
}

.loaded {
	opacity: 1;
}

.darken-filter {
	z-index: 1;
	background: black;
	opacity: 0.55;
	position: fixed;
	width: 100%;
	height: 100%;
}

main {
	color: black;
}

/* SECTIONS ******************************/

.section * {
	margin: 0px;
}

.section-content {
	margin: 0px auto;
	width: 75%;
}

.section-content h3 {
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 5px;
	color: #B4B4B4;
	font-size: 1.2em;
	text-align: center;
}

.section-content a {
	color: #f5404d;
	padding: 0px;
	text-decoration: none;
	cursor: pointer;
}

.section-content a:hover {
	color: #cb333e;
}

.section-content * {
	text-align: justify;
	padding-top: 30px;
	padding-bottom: 50px;
}

.section-content .large-paragraph {
	font-size: 2em;
	text-align: center;
	padding-bottom: 30px;
}

.section-content .contact-logo-container {
	padding-top: 0px;
	text-align: center;
}

.section-content .headshot {
	text-align: center;
	padding: 0px;
}

.section-content .headshot * {
	padding: 0px
}

.intro-section p {
	padding: 50px 0px;
}

.email-link {
	font-weight: bold;
}

a.contact-logo {
	margin: 0px 25px;
	padding: 0px;
	font-size: 55px !important;
	color: #C0C0C0;
}

#linkedin-logo:hover {
	color: #007bb6;
}

#github-logo {
	font-size: 57px !important;
}

#github-logo:hover {
	color: #353535;
}

#twitter-logo:hover {
	color: #55acee;
}

/* ART THUMBNAILS ******************************/

.row {
	padding: 0px;
	max-width: 970px;
	margin: 0px auto;
}

.row > * {
	padding: 15px;
}

/* VEX ******************************/

.vex-overlay {
	height: 2000px;
	width: 100%;
}

.vex-content {
	width: 75% !important;
}

.vex-content-image-container {
	margin-top: 25px; 
	text-align: center;
}

.vex-content-image-container img {
	max-width:100%
}

/* MOBILE FIXES ****************************/

@media (max-width: 768px) {

	.navbar-nav {
		font-size: 12px;
	}

	.email-link {
		font-size: 140% !important;
	}

	a.contact-logo {
		margin: 0px 13px !important;
	}

	.section-content h3 {
		padding-top: 35px;
	}

	.section-content .large-paragraph {
		padding-bottom: 15px;
	}

	.section-content * {
		padding-top: 10px;
		padding-bottom: 15px;
	}
}
